<%= form_for ([@course, @lesson, @lesson.test, @testQuestion]) do |f| %>
		
		<div class="form-group">
			<%= f.label :question, "Pytanie" %> <br>
			<%= f.text_field :question, :class => "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :answerA, "Odpowiedź A:" %> <br>
			<%= f.text_field :answerA, :class => "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :answerB, "Odpowiedź B:" %> <br>
			<%= f.text_field :answerB, :class => "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :answerC, "Odpowiedź C:" %> <br>
			<%= f.text_field :answerC, :class => "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :answerD, "Odpowiedź D:" %> <br>
			<%= f.text_field :answerD, :class => "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :Odpowiedz, "Poprawna odpowiedź:" %> <br>
			<p><%= f.radio_button(:correctAnswer, "A") %> Odpowiedź A</p>  
			<p><%= f.radio_button(:correctAnswer, "B") %> Odpowiedź B</p>  
			<p><%= f.radio_button(:correctAnswer, "C") %> Odpowiedź C</p>  
			<p><%= f.radio_button(:correctAnswer, "D") %> Odpowiedź D</p>  
		</div>

		<%= f.hidden_field :test_id, :value => @lesson.test.id %>

		<div class="actions">
    		<%= f.submit "Zatwierdź", :class => "btn btn-primary" %>
  		</div>

	<% end %>