<div class="container-fluid">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<h2><%= image_tag("test.jpg", size: "300x200", class: "img-circle") %></h2>
		</div>
		<div class="col-md-5">
			<h1><strong><%= @course.name %></strong></h1>	
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-7">
		<h3>O kursie:</h3>
		<p><%= @course.description %></p>
		<h3>Syllabus kursu:</h3>
		<p><%= @course.syllabus %></p>
		</div>
		<div class="col-md-4">
			<% if (current_user.isStudent == true and @course.participants.where(:user_id => current_user.id).blank? != false )%>
				<%= link_to "Dołącz do kursu", new_course_participant_path(@course.id), class: "btn btn-info" %>
			<% end %>
			<h5>Sugerowana wiedza:</h5>
			<p><%= @course.recommendedBackground %></p>
			<h5>Język:</h5>
			<p><%= @course.language %></p>
			<h5>Szacowany czas kursu:</h5>
			<p><%= @course.timeOfStudy %></p>
			<h5>Status kursu: 
				<% if @course.active == true %>
					Dostępny
				<% else %>
					Niedostępny
				<% end %>
			</h5>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-7">
			<h3>Lekcje:</h3>
			<% if current_user.isTeacher %>
				<%= link_to "Dodaj nową lekcję", new_course_lesson_path(@course.id), class: "btn btn-info" %>
			<% end %>
			<% num = 1 %>
			<% @course.lessons.each do |les| %>
				<p> <%= num %>. <%= link_to "#{les.name}", course_lesson_path(@course.id, les.id)  %></p> 
			<% end  %>
		</div>
		<div class="col-md-3"></div>
		<div class="col-md-1"></div>
	</div>
</div>